
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
}

.wrapper{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite;
    transform: translateY(-445px);
}
.wrapper-1{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .1s;
    transform: translateY(-400px);
}
.wrapper-2{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .2s;
    transform: translateY(-350px);
}
.wrapper-3{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .3s;
    transform: translateY(-300px);
}
.wrapper-4{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .4s;
    transform: translateY(-250px);
}
.wrapper-5{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .5s;
    transform: translateY(-200px);
}
.wrapper-6{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .6s;
    transform: translateY(-200px);
}
.wrapper-7{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .7s;
    transform: translateY(-200px);
}
.wrapper-8{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .8s;
    transform: translateY(-200px);
}
.wrapper-9{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite .9s;
    transform: translateY(-200px);
}
.wrapper-10{
    height: 500px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    animation: bounce 5s infinite 1s;
    transform: translateY(-200px);
}

.thread{
    width: 5px;
    height: 450px;
    background-color: rgb(255, 255, 0);
    position: relative;
}

.star{
    width: 25px;
    height: 25px;
    background-color: rgb(10, 10, 242);
    border-radius: 50%;
    position: relative;
    transform: rotateZ(45deg);
}

@keyframes bounce {
    0%{
        transform: translateY(-300px);
    }   
    50%{
        transform: translateY(0px);
    } 
    100%{
        transform: translateY(-300px);
    }
}